<header>
    <div class="relative bg-cover bg-no-repeat bg-center min-h-[13em] pb-[50px]"
        style="background-image: url('assets/images/banner2.jpg');">

        <section class="pt-[177px] md:pt-[268px] relative">
            <div class="container mx-auto px-4">
                <div class="relative w-full">

                    <div class="text-center relative z-10 transition-opacity duration-500 ease-in-out">
                        <div class="text-bg mx-auto">

                            <span
                                class="block text-[46px] md:text-[80px] leading-[50px] md:leading-[80px] text-brand-darkCyan uppercase animate-fadeIn">
                                {{ slides[currentSlide].subtitle }}
                            </span>

                            <h1
                                class="text-white text-[31px] md:text-[76px] lg:text-[100px] leading-[1.1] md:leading-[85px] py-[20px] md:py-[20px] md:pb-[40px] uppercase font-bold animate-fadeIn">
                                {{ slides[currentSlide].title }}
                            </h1>

                            <p
                                class="block text-white text-[17px] leading-[26px] md:leading-[30px] font-normal pb-[35px] md:pb-[50px] max-w-4xl mx-auto animate-fadeIn">
                                {{ slides[currentSlide].desc }}
                            </p>

                            <div class="flex flex-wrap justify-center gap-2">
                                <a href="#"
                                    class="text-[10px] md:text-[16px] bg-white text-black py-[9px] md:py-[12px] w-full max-w-[132px] md:max-w-[253px] inline-block text-center rounded-[30px] transition-all duration-500 hover:bg-brand-cyan hover:text-white">
                                    Music & Entertainment
                                </a>
                                <a href="#"
                                    class="text-[10px] md:text-[16px] bg-white text-black py-[9px] md:py-[12px] w-full max-w-[132px] md:max-w-[253px] inline-block text-center rounded-[30px] transition-all duration-500 hover:bg-brand-cyan hover:text-white">
                                    Buy Tickets
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="hidden md:block ">
                        <div class=" flex justify-center gap-3.5 mt-4">

                            <button (click)="prevSlide()"
                                class="opacity-100 cursor-pointer outline-none">
                                <div
                                    class="w-[70px] h-[70px] bg-[#f9f9f9] text-[#03daee] flex justify-center items-center rounded-[40px] shadow-[0px_0px_7px_-3px_#000] hover:bg-brand-cyan hover:text-white transition-colors">
                                    <i class="fa fa-long-arrow-left text-[20px]" aria-hidden="true"></i>
                                </div>
                            </button>

                            <button (click)="nextSlide()"
                                class="opacity-100 cursor-pointer outline-none">
                                <div
                                    class="w-[70px] h-[70px] bg-[#f9f9f9] text-[#03daee] flex justify-center items-center rounded-[40px] shadow-[0px_0px_7px_-3px_#000] hover:bg-brand-cyan hover:text-white transition-colors">
                                    <i class="fa fa-long-arrow-right text-[20px]" aria-hidden="true"></i>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</header>