<div class="fixed bottom-0 left-0 right-0 z-50 bg-neutral-900 border-t border-neutral-800 text-white px-4 py-3 h-24 flex items-center justify-between">

    <div class="flex items-center w-1/3 min-w-45">
        <div class="hidden sm:block h-14 w-14 shadow-lg rounded overflow-hidden mr-4 bg-neutral-800 relative group cursor-pointer">
            <img [src]="currentMusic.img" alt="Cover"
                class="object-cover w-full h-full opacity-100 group-hover:opacity-80 transition-opacity">
        </div>

        <div class="flex flex-col justify-center">
            <a href="#" class="text-sm font-semibold hover:underline cursor-pointer truncate">
                {{ currentMusic.title }}
            </a>
            <a href="#" class="text-xs text-neutral-400 hover:underline hover:text-white cursor-pointer">
                {{ currentMusic.artist }}
            </a>
        </div>

        <button class="ml-4 text-neutral-400 hover:text-green-500 transition">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </button>
    </div>

    <div class="flex flex-col items-center max-w-[40%] w-full">

        <div class="flex items-center gap-6 mb-1">
            <button class="text-neutral-400 hover:text-white transition hidden md:block" title="Shuffle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                </svg>
            </button>

            <button class="text-neutral-400 hover:text-white transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M7 6v12l10-6z" transform="rotate(180 12 12)" />
                    <path d="M5 6v12h2V6z" />
                </svg>
            </button>

            <button (click)="togglePlay()" 
                    class="bg-white text-black rounded-full p-2 hover:scale-105 transition transform shadow-md">
                
                <svg *ngIf="!isPlaying" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 pl-0.5" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M8 5v14l11-7z" />
                </svg>

                <svg *ngIf="isPlaying" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
                </svg>
            </button>

            <button class="text-neutral-400 hover:text-white transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M7 6v12l10-6z" />
                    <path d="M17 6v12h2V6z" />
                </svg>
            </button>

            <button class="text-neutral-400 hover:text-white transition hidden md:block" title="Repeat">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
            </button>
        </div>

        <div class="flex items-center w-full gap-2 text-xs text-neutral-400 font-mono">
            <span>{{ formatTime(currentTime) }}</span>
            
            <div (click)="seekTo($event)" class="h-1 bg-neutral-600 rounded-full w-full relative group cursor-pointer flex items-center">
                <div [style.width.%]="progress" class="absolute h-full bg-white rounded-full group-hover:bg-green-500 transition-all duration-100 ease-linear"></div>
                
                <div [style.left.%]="progress"
                    class="absolute h-3 w-3 bg-white rounded-full -ml-1.5 opacity-0 group-hover:opacity-100 shadow transition-opacity">
                </div>
            </div>

            <span>{{ formatTime(duration) }}</span>
        </div>

    </div>

    <div class="flex items-center justify-end w-1/3 min-w-45 gap-2">
        <button class="text-neutral-400 hover:text-white" (click)="setVolume($event)"> <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
            </svg>
        </button>

        <div (click)="setVolume($event)" class="w-24 h-1 bg-neutral-600 rounded-full relative cursor-pointer group flex items-center">
            
            <div [style.width.%]="volume * 100" class="absolute h-full bg-white rounded-full group-hover:bg-green-500"></div>
            
            <div [style.left.%]="volume * 100"
                class="absolute h-3 w-3 bg-white rounded-full -ml-1.5 opacity-0 group-hover:opacity-100 shadow">
            </div>
        </div>
    </div>

    <audio #audioPlayer [src]="currentMusic.url" (timeupdate)="onTimeUpdate()" (loadedmetadata)="onLoadedMetadata()" hidden></audio>

</div>